<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    
    <!-- 這裡要寫js -->
    <%- include('./layout/navbar') %>

    <h1>這個是首頁 v2</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro, magni! Sequi veniam excepturi, sit aut nostrum, ut quaerat corrupti reprehenderit quasi, perferendis optio harum! Numquam omnis magni porro suscipit sed?</p>

    <%- include('./layout/footer') %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
